* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #2b3f67;
    border-bottom: 1px solid #2a355f;
}

.recipe-header {
    color: #2b3f67;
}

ul > li {
    padding-top: 2px;
    padding-bottom: 2px;
}

ul > li > a {
    text-decoration: none;
    color: #2b3f67;
}

.ingredients, .steps {
    color: #ffffff;
    background-color: #2a355f;
    padding: 10px 8px;
}

.ingredient-list, .step-list {
    background-color: rgb(233, 242, 248);
}

.ingredient-list li, .step-list li {
    padding: 5px 0px;
}